
        



body {
background-color: #FF4D6D;
min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        img {
             margin-top: 165px;
                 
        }
    }

    section {
    display: flex;
    flex-direction: column;
    margin-top: 146px;
    img {
        margin-top: 165px;
            
   }
   
  

a:is(:link,  :visited) {
    color: #fff;
display: flex;
border-radius: 60px;
background-color: #DDBDFC;
font-size: 64px;
height: 100px;
width: 300px;
text-decoration:none;
text-transform: uppercase;
justify-content: center;
align-items: center;
font-weight: 406px;

}

    }
}

a:is(:hover){
    border: 2px solid #eed6c0;
    background-color: #DDB892;
    color: #EDE0D4;
}



section.login{
    menu{
        padding: 0;
        display: flex;
        a:is(:link, :visited){
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            text-decoration: none;
            height: 80px;
            width: 190px;
        }
        a:first-child{
            background-color:#941B85;
            color: #f0f0f0;
            border-radius: 50px 0 0 50px;
        }
        a:last-child{
            background-color: #DDBDFC;
            color: #fff;
            border-radius: 0 50px 50px 0;


        }
    }
}


form{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 40px;


    input, button{
        border: none;
        background-color: #DDBDFC;
        border-radius: 50px;
        padding: 20px;
        width: 380px;
    }
}
button{
    display: flex;
    color: #fff;
    border: 2px solid #941B85;
    border-radius: 50px;
    background-color: #941B85;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    transition: all 0.4s ease-in;
}
button:is(:hover){
    border: 2px solid #DDBDFC;
    background-color: #941B85;
    cursor: pointer;
    color: #EDE0D4;
}











